Source: n900-bootlogo-changer
Section: user/utilities
Priority: extra
Maintainer: RaANdOoM <random.m3m@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/raandoom

Package: n900-bootlogo-changer
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, rootsh
Description: Customize your N900 bootlogo
 Application help you to change your bootlogo with any image
XB-Maemo-Display-Name: BootLogo Changer
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0
 SU1FB90DCRAFCtlYLiAAAAONSURBVGje7Zg9bNtGFMd/R9GWJX7AsgADhpGi
 lpIO+dg6Ze2SrSgCZMlSoEjRpeiWMWuQKd06tOiYuWOGZClQZIiNeCtQt2mD
 2EkAmQQk25REibospkNRviPTWDEN6AkHgXzH93Hv/vfeO9CQlNySEqkafTn/
 n5obj0/eINW/e7fv/ZEh4GedjQZnnGYOzByYOTBzYObAzIGZAzMHPoDE4f8l
 4HugmWQ2m6xcvsw51ccHwzKPzGt6DaOHEqMvVOwrG1dobDeUn2+z7W+w8Xfq
 9WvgF+B3gM+BAJBnbIyAGwL4DfjSMAxs28Yw3u0qy7LodDqnukWq1Sr9fj9R
 4ksODg4YDocAf5nARYBarcbq6urYxzdv2ly/8S+IEiLqTgj/c/8CXzsP3u3H
 kkAsCEbBCCQIIZgPvqJf2VYaeP/b+1x9dlXRj0ieLj/lrrg79t7zPHZ2dgAu
 mDGQhRBIKccmum6P5qevlcq74SV259e0K1jp7NN1d5X8lb0VGp4aAy8WXyCt
 cbuEOIKUMJPejkaj9wrv3t4e1Ke/jdJ2JZ/NdMiSFIahVvDhPnwv5RNR7HW1
 /DAMkQtSyR+LQNqBLOV5IpaWmaZoGGXqSMtIPmsjkKE7F8kTEKKTYeonilM1
 Tr2wcrKUiEGcHFm0tLSUOcdxHC1/rbGWC0fJoXQgPbLI9/18J5WGnv/zPFcE
 VLaZeUN17BlfqWQqL8+XGWj4tVrtZDCQd9WLAOLcEciiIAggYwH7YV/L93zv
 9EBcr2enYdd1tfzzzfOZxucC8XFgySLP282c02nrq9mtra2TAfH/wcDiYjYA
 LduiPUUcGXk9PXZ1c/QKQRCcSCKbSgSiKMpOQtFoqifZB5XTH4t05fTUbyUk
 cqryzcMGWVEGuKyvq2uZl+0Szpt1rYLSfpnI1siovWTdUcto1Vvg6a9VHgFf
 GIZBpVJJtmtYloVpmqe6faSUE4dFr9eLm6lXANeA6Axeq0jgh3i5vwN+Apib
 mxu7WikSSSmTbe6vwDfx/ngSv200Gti2jZSSwWBQCMNN08QwDKIoYnNzM379
 eKKYSzbSrVarUMdqvV6nXC7rM/HRTUG3W7icoMroxrRq+I9FxzpQKpWKZ6ji
 YIkxMEimacdxGAwGhQKx67rp2itM3puUAR+oVqtVlpeXC3eUSinxfZ92+6g4
 /wwYaybunKEE9kBVVtw+jERRDQ+AH4GF2Oi3XKAasWXQJaAAAAAASUVORK5C
 YII=
